<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="text-center p-3">
        © {{ 'now' | date('Y') }}
        <a class="text-dark text-decoration-none" target="_blank" href="#"> | PRÉAMBULE</a>
    </div>
</footer>
